#create-player-form{
  margin: 0;
  padding:0;
  /*height:75%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: thin black dotted;
  width: 50%;
}

#message{
}

.entryarea{
  border:  .2px solid #786890; 
  position:relative;
  height: 9vh;
  line-height: 100%;
}

.inputter{
  position:absolute;
  width:100%;
  padding: 3% 4%;
  height: 100%;
  outline:none;
  font-size: var(--big);
 
  line-height: 100%;
  border-radius:5px;
  border: 2px solid #f0ffff;  
  background:transparent;
  transition: 0.05s ease;
  z-index: 1111;
}

.labelline{
  /*height: 100%;*/
  /*width:50%;*/
  position: relative;
  font-size: var(--med);
  color:#f0ffff;
  padding-top:1%;
  padding-left:2.5%;
  margin: 0 0;
  background-color: var(--background);
  transition: 0.2s ease;
}

.inputter:focus,
.inputter:valid{
  color:#66ff00;
  border: 4px solid var(--good);
}

.inputter:focus + .labelline,
.inputter:valid + .labelline{
  color:var(--good);
  width: 50%;
  /*height:30px;*/
  /*line-height: 30px;*/
  /*padding:0 12px;*/
  transform: translate(-7%, -28%) scale(0.80);
  z-index: 1111
}
