@import './event_form_fields.css';

/******************************************************************************/

#message{
}

.entryarea{
  border:  .2px solid #786890; 
  position:relative;
  height: 9vh;
  line-height: 100%;
}

.inputter{
  position:absolute;
  width:100%;
  padding: 3% 4%;
  height: 100%;
  outline:none;
  font-size: var(--big);
 
  line-height: 100%;
  border-radius:5px;
  border: 2px solid #f0ffff;  
  background:transparent;
  transition: 0.05s ease;
  z-index: 1111;
}

.labelline{
  /*height: 100%;*/
  /*width:50%;*/
  position: relative;
  font-size: var(--med);
  color:#f0ffff;
  padding-top:1%;
  padding-left:2.5%;
  margin: 0 0;
  background-color: var(--background);
  transition: 0.2s ease;
}

.inputter:focus,
.inputter:valid{
  color:#66ff00;
  border: 4px solid var(--good);
}

.inputter:focus + .labelline,
.inputter:valid + .labelline{
  color:var(--good);
  width: 50%;
  /*height:30px;*/
  /*line-height: 30px;*/
  /*padding:0 12px;*/
  transform: translate(-7%, -28%) scale(0.80);
  z-index: 1111
}

#schedule_form{
}
#create-game-form {
  display: grid;
  grid-template-columns: 33% 67%; /* Allocate 33% for col 1 and 67% for col 2 */
  grid-gap: 1%; /* Add a gap between columns for spacing */
}
#create-event-form {
  display: grid;
  grid-template-rows: 33% 33% 33%; /* Allocate 33% for col 1 and 67% for col 2 */
  grid-gap: 10px;
}

#create_season_form{
  width:60%;
  display: grid;
  grid-template-rows: 75% 25%;  /*Allocate 33% for col 1 and 67% for col 2 */
  grid-gap: 15%;
}

#create_team_form{
  width:90%;
}

#submit_event{
  width: 50%;
}

#game_switch{
  width:10%;
}
.input_fields{
  display: grid;
  grid-gap: 10px;
}
#select_teams{
  display: grid;
  grid-template-columns: 48.5% 48.5%; 
  grid-gap: 1.5%;
}
/******************************************************************************
 PLAYER FORM
******************************************************************************/
#player_form{

}
.player_name_fields{
  
}
.player_attr_fields{
  display: grid;
  grid-template-columns: 30% 30% 38%;
  grid-gap: 1%;
}

#player_form{
  display: grid;
  grid-template-rows: 32% 32% 32%;
  grid-gap: 2%;
}
#draft_eligibility{
  
}



/******************************************************************************/