@import './navigator.css';
@import './form.css';
@import './commissioner.css';
@import './login.css';
@import './buttons.css';
@import './timer.css';
@import './players.css';
@import './dragAndDrop.css';
@import './carousel.css';
@import './toggleSwitch.css';
/*********************************/

:root {
  --background:#000;/*#3C415C;*//*#71706e;*//*grey;*/
  --primary:#301B3F;
  --secondary:#151515;
  --accent1:#6F4A8E;
  --accent2:#EBEBEB;
  --good:#66ff00;
  --bad:#8B0000;
  --big: 2rem;
  --med: 1.5rem;
  --sm: 0.5rem;
  /*overflow-x: hidden;*/
}

html,body{
  height: 100vh;
  margin:0;
  padding:0;
  background-color: var(--background);
}

#main{
  /*position:fixed;*/
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
}

#app{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

.centre{
  display: flex;
  justify-content: center;
  align-items: center;
}
.align{
  align-items: center;
  text-align: center;
}

.bad{
  background-color: #8B0000;
}
.good{
  background-color: #66ff00;
}

.blue{
  background-color: blue;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}

.silver{
  background-color: #C0C0C0;
}

.h_container{
  display: flex;
  flex-direction: column;
}
.v_container{
  display: flex;
  flex-direction: row;
}
.outline{
  border: 5px solid purple;
}
.small{
  max-width:10%;
  max-height: 40px;
}
.space_between{
  justify-content: space-between;
}

.space_around{
  justify-content: space-around;
}

.grid_col_65_30{
  display:grid;
  grid-template-columns: 65% 30%;
  grid-gap: 5%;
}

.grid_col_49_49{
  display:grid;
  grid-template-columns: 49.5% 49.5%;
  grid-gap: 1%;
}

.grid_row_45_20_20{
  display:grid;
  grid-template-rows: 45% 30% 30%;
  grid-gap: 2.5%;
}

.layer1{
  position:absolute;
  z-index: 1;
}
.layer2{
  /*position:absolute;*/
  z-index: 2;
}

.clickable{
  cursor: pointer;
}
.shadow{
  box-shadow: 0px 0px 10px black;
}

.fy3_logo{
  border-radius: 90%;
}
.fy3_logo-nav{
  /*max-height: 100%;*/
  max-width: 10vw;
  /*background-color: blue;*/
}
a{
  /*max-height: 65px;*/
  /*border:2px solid black;*/
}

.eventsWheelContainer::-webkit-scrollbar {
  display: none;
}

.glass{
  background: linear-gradient(
    135deg, 
    rgba(255, 255, 255,  0.1),
    rgba(255, 255, 255,  0)
    );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter:blur(10px);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0;
}

.blur-content{
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
