{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{% static 'css/FY3/main.css' %}">

<head>
	<title> FY3 </title>
</head>
<body>
	<div class = 'warning'> Under development </div>
	<header>
		<div class="head">
			<img src="{% static 'imgs/FY3-logo.png' %}">	
			<h1> FY3 Basketball </h1>
		</div>
		<nav>
			<!-- home tab -->
			<a href="{% url 'FY3-Home'%}"><div class="nav-itm" id="home">
				Home
			</div></a>
			
			<!-- stats tab -->
			<a href="{% url 'FY3-Statistics'%}"><div class="nav-itm" id="stats">
				Stats
			</div></a>
			
			<!-- schedule tab -->
			<a href="{% url 'FY3-Schedule'%}"><div class="nav-itm" id="schedule">
				Events
			</div></a>
			
			<!-- standings tab -->
			<a href="{% url 'FY3-Standings'%}"><div class="nav-itm" id="standings">
				Standings
			</div></a>
			
			<!-- create teams tab -->
			<!-- must change to only accept admin authentication -->
			{% if user.is_authenticated %}
    		<a href="{% url 'FY3-Create-Team'%}"><div class="nav-itm" id="create-teams">
				Create Team
			</div></a>
			{% endif %}
		</nav>
	</header>
	<!-- ######### MAIN BODY CONTENT########## -->
	{% block content %}
	
	{% endblock %}
	<!-- #################################### -->

</body>
</html>