
/*********************
---- MOBILE VIEW ----
    width < 600px
*********************/

html{
  background: radial-gradient(#5D3FD3,#483248);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

body{
margin:auto;
height:100%;
width: 100%;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center top;
}

/*********************
---- DESKTOP VIEW ----
********************/


/*********************
600px <= width <= 900px
********************/
@media (min-width: 600px) {
body{
  background-position: center center;
  background-size: 50%;
}
/*********************
width <= 900px
********************/
@media (min-width: 900px) {
body{
  background-size: 500px;
}
}