
/*********************
---- MOBILE VIEW ----
    width < 600px
*********************/

html{
  position:fixed;
  height: 100%;
  width:100%;
  background: radial-gradient(#171717,#00F);
  background-repeat: no-repeat;
}

body{
  border:thin dashed white;
  height: 100%;
  margin: 10px 10px 10px 10px;
  background: no-repeat;
}

/*********************
---- DESKTOP VIEW ----
********************/


/*********************
600px <= width <= 900px
********************/
@media (min-width: 600px) {
body{
  background-position: center;
  background-size: 50%;
}
/*********************
width <= 900px
********************/
@media (min-width: 900px) {
body{
  background-size: 500px;
}
}