/*********************
    FORMS VIEW
*********************/

form, .profile-imgs{
	display: flex;
	flex-direction: column;
}
.create-container{
	background-color: grey;
	display: flex;
	flex-direction: row;
	justify-content: center;
	}

.note{
	color: green;
}

/*********************
---- DESKTOP VIEW ----
********************/


/*********************
600px <= width <= 900px
********************/
@media (min-width: 600px) {
form{
	}
}
/*********************
width <= 900px
********************/
@media (min-width: 900px) {

}