/**********************
    home STYLES 
**********************

::::::::: home PREVIEWS :::::::::
*/

/* SECTION */
section{
	border: thin solid #F00; /*GREEN*/
	height:50%;
	border-radius: 5px;
	background-color: grey;
	margin:6px;
	width: 100%;
}
section:hover{
	border: 1.5px solid green; 
	/*transition: border 0.3s*/
}

/* PREVIEW */
.preview{
	border: thin dashed blue;
	display: flex;
	justify-content: space-around;
	height:77%;
}
.preview:hover {
	border: 1.5px solid green; 
	/*transition: border 0.3s*/
}

/* PREVIEW ARTICLE */
.preview article{
	border: thin dotted #292BBF;
	border-radius: 5px;
	width: 100%;
	justify-content: space-around;
}
.preview article:hover{
	color: lightgrey;
	border: 1.5px solid white; 
}
.preview article img{
	width: 100%;
}

/* STANDINGS PAGE */
.divisions-container{
	border: 1.5px dotted black; 
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.standings-table{
	width: 99%;
}

.team-row{
  /*display: flex;*/
  /*grid-template-columns: 2/7fr 1/7fr 1/7fr 1/7fr;*/
  /*flex-direction: row;*/
  color: black;
  justify-content: space-between;
  border: 1.5px dotted blue; 

}
table{
	width: 100%;
}
.team-r-itm{
	padding-top: 20px;
	padding-bottom: 20px;
	justify-content: space-around;
	text-align: center;
	border: thin solid white;
}
.team-r-itm:hover{
	border: 1.5px dotted green; 
}
#headings{
	border-radius: 5px;
	background-color: black;
	color: #A9A9A9;
	border: thin solid #A9A9A9;
}
