/**********************
    home STYLES 
**********************

::::::::: home PREVIEWS :::::::::
*/

/* SECTION */
section{
	border: thin solid #F00; /*GREEN*/
	height:50%;
	border-radius: 5px;
	background-color: grey;
	margin:6px;
	width: 100%;
}
section:hover{
	border: 1.5px solid green; 
	/*transition: border 0.3s*/
}

/* PREVIEW */
.preview{
	border: thin dashed blue;
	display: flex;
	justify-content: space-around;
	height:77%;
}
.preview:hover {
	border: 1.5px solid green; 
	/*transition: border 0.3s*/
}

/* PREVIEW ARTICLE */
.preview article{
	border: thin dotted #292BBF;
	border-radius: 5px;
	width: 100%;
	justify-content: space-around;
}
.preview article:hover{
	color: lightgrey;
	border: 1.5px solid white; 
}
.preview article img{
	width: 100%;
}

/* STANDINGS PAGE */


/* STATS PAGE */
