
.standings-table{
  /*border: thick dotted black;*/
  width: 100%;

}
.conference-table{
  width: 100%;
}


/*********************
---- DESKTOP VIEW ----
********************/


/*********************
600px <= width <= 900px
********************/
@media (min-width: 600px) {

}
/*********************
width <= 900px
********************/
@media (min-width: 900px) {
.divisions-container{
  /*border: thick dotted black;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
}