
.title{
  width:100%;
  font-size: 3rem;
  text-align: center
}
section{
  padding-left: 10px;
  padding-right: 10px;
}
table{
  border: border-collapse;
  margin:0;
  width:100%;

}
tr,td{
  /*border:2px solid black;*/
}
tr td{
  text-align: center
}
#player-img{
  width: 100px;
}




/*********************
---- DESKTOP VIEW ----
********************/


/*********************
600px <= width <= 900px
********************/
@media (min-width: 600px) {
#player-img{
  width: 200px;
}
}
/*********************
width <= 900px
********************/
@media (min-width: 900px) {
#player-img{
  width: 75%;
}
.player-img{
  width: 275px;
}
}