
.title{
  width:100%;
  font-size: 3rem;
  text-align: center
}
section{
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
table{
  border: border-collapse;
  margin:0;
  width:100%;

}

tr td{
  text-align: center
}
#player-img{
  width: 100px;
}




/*********************
---- DESKTOP VIEW ----
********************/


/*********************
600px <= width <= 900px
********************/
@media (min-width: 600px) {
table{
 padding-right: 5%;
 padding-left: 5%;
}
#player-img{
  width: 200px;
}
}
/*********************
width <= 900px
********************/
@media (min-width: 900px) {
table{
 padding-right: 45px;
 padding-left: 45px;
}
#player-img{
  width: 75%;
}
.player-img{
  width: 275px;
}
}