{% extends "main.html"%}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/FY3/home.css' %}"> -->

{% block content %}
<!-- ################### -->
<section>
	<a href="{% url 'FY3-Schedule'%}"><h3> ANOUNCEMENTS Section </h3></a>
	<div class="preview" id="evnts">
		<!-- TODO: Dynamically generate based on upcoming games -->
		<article> 
			<h4>Event 1 </h4>
			<img src="{% static 'imgs/FY3-logo.png' %}">
		</article>
		
		<article> 
			<h4>Event 2 </h4>
			<img src="{% static 'imgs/FY3-logo.png' %}">
		</article>
		
		<article> 
			<h4>Event 3 </h4>
			<img src="{% static 'imgs/FY3-logo.png' %}">
		</article>

	</div>
</section>

<section>
	<a href="{% url 'FY3-Standings'%}"><h3> STANDINGS Section </h3></a>
	<div class="preview" id="standings">
		<!-- -->
		<article> 
			<h4>Conference 1</h4>
			<img src="{% static 'imgs/FY3-logo.png' %}">
		</article>
		<article> 
			<h4>Conference 2</h4>
			<img src="{% static 'imgs/FY3-logo.png' %}">
		</article>
	</div>
</section>

<section>
	<a href="{% url 'FY3-Statistics'%}"><h3> STATISTICS Section </h3></a>
	<div class="preview" id="stats">
		<!-- TODO: Dynamically generate based on stat leader -->
		<article> 
			<img src="{% static 'imgs/FY3-logo.png' %}">
			<h4>Name 1</h4> 
			<p> Stat1: xyz </p>
		</article>

		<article> 
			<img src="{% static 'imgs/FY3-logo.png' %}">
			<h4>Name 2</h4>
			<p> Stat2: xyz </p>
		</article>

		<article> 
			<img src="{% static 'imgs/FY3-logo.png' %}">
			<h4>Name 3</h4>
			<p> Stat3: xyz </p>
		</article>
	</div>
</section>
<!-- ################### -->
<!-- END: HOME SECTION   -->
{% endblock %}
