{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{% static 'css/FY3/main.css' %}">
<head>
	<title> FY3s </title>
</head>
<body>
	<header>
		<img src="{% static 'imgs/FY3-logo.png' %}">	
		<h1> FY3 Basketball </h1>
		<nav> New Nav Bar
			<!-- home tab -->
			<!-- <a href="/"><div class="nav-itm" id="home">
				home
			</div></a> -->
			
			<!-- stats tab -->
			<!-- <a href="/stats"><div class="nav-itm" id="stats">
				stats
			</div></a> -->
			
			<!-- schedule tab -->
			<!-- <a href="/schedule"><div class="nav-itm" id="schedule">
				events
			</div></a> -->
			
			<!-- standings tab -->
			<!-- <a href="/standings"><div class="nav-itm" id="standings">
				standings
			</div></a> -->
			
			<!-- create teams tab -->
			<!-- must change to only accept admin authentication -->
			
    		<!-- {% if user.is_authenticated %}
    		<a href="/create-teams"><div class="nav-itm" id="create-teams">
				create team
			</div></a> 
			{% endif %}-->
			
		</nav>
	</header>
	<!-- ################### -->
	<!-- START: MAIN BODY SECTION -->
	{% block content %}
	<!-- default content text (typically empty) -->
	{% endblock %}
	<!-- END: MAIN BODY SECTION   -->
	<!-- ################### -->
</body>
</html>