{% extends "components/main.html"%}

{% load static %}



{% block content %}
<div class="cards">
<div class="glass box">
<a href="{% url 'FY3-Create-Team'%}"><h2>Create Teams </h2></a>
</div>

<!-- ADD PLAYER STATS -->
<div class="glass box">
  <a href="{% url 'FY3-Create-Player-Stats'%}">
    <h2>Create Player Stats </h2>
  </a>
</div>

<!-- ADD TEAM STATS -->
<div class="glass box">
  <a href="{% url 'FY3-Create-Team-Stats'%}">
    <h2>Create Team Stats </h2>
  </a>
</div>
</div>
{% endblock %}

