{% extends "components/main.html"%}
{% load static %}



{% block content %}
<h2>Create Teams </h2>

<!-- ADD PLAYER TO TEAM -->
<h3 class='note'> {{ team_note }}</h3>
<div class='create-container'>
  <form class ='add_player_team' action="{% url 'FY3-Create-Team' %}" method="POST">
    {% csrf_token %} <!-- what is this for again? -->
    {{ team_form }}
    <input type="submit" name="Add Player to Team">
  </form>
  <div class='preview' id='team-player-img'>
    <!-- use js to change the images based on dropdown selection -->
    <img id='team-logo' src="{% static 'imgs/FY3-logo.png' %}">
    <img id='player' src="{% static 'imgs/FY3-logo.png' %}">
  </div>
</div>

{% endblock %}