{% extends "main.html"%}
{% load static %}



{% block content %}

<!-- ADD PLAYER STATS -->
<h2>Create Player Stats </h2>

<h3 class='note'> {{ note }}</h3>


<div class='create-container'>
  <form class ='add_player_stats' id='player_stats_form' data-players-url="{% url 'FY3-Load_Players' %}" method="POST">
    {% csrf_token %}<!-- what is this for again? -->
    {{ player_stats_form }}
    <input type="submit" value ='Submit'/>
  </form>

  <div class='preview' id='team-player-img'>
    <!-- use js to change the images based on dropdown selection -->
    <img id='team-logo' src="{% static 'imgs/FY3-logo.png' %}">
    <img id='player' src="{% static 'imgs/FY3-logo.png' %}">
  </div>
</div>

<!-- Import AJAX module -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- REFACTOR TO JS FILE  -->
<script>

  $("#id_game").change(function() {
    const url = $('#player_stats_form').attr("data-players-url");
    const gameId = $(this).val();
    console.log('url:',url, '\n-- GameID:', gameId);
    $.ajax({
      type: 'GET',
      url: url,
      data: {'game_id': gameId},
      success: function(data){  // 'data' return of load_players function view
        console.log('data = ', data);
        $('#id_player').html(data); // replace the contents of the team input w/ data that came from server
      }
    })
  })
  // get player ID 
    $("#id_player").change(function() {
    const url = $('#player_stats_form').attr("action");
    const playerId = $(this).val();
    console.log('url:',url, '\n-- PlayerId:', playerId);
  })
</script>
{% endblock %}

