{% extends "components/main.html"%}
{% load static %}



{% block content %}

<!-- ADD PLAYER STATS -->
<h2>Create Team Stats </h2>

<h3 class='note'> {{ note }}</h3>
<form class ='add_team_stats' id='team_stats_form' data-teams-url="{% url 'FY3-Load_Teams' %}" method="POST">
    {% csrf_token %}<!-- what is this for again? -->
    {{ team_stats_form }}
    <input type="submit" value ='Submit'/>
  </form>

<!-- Import AJAX module -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- REFACTOR TO JS FILE  -->
<script>

  $("#id_win_team").change(function() {
    const url = $('#team_stats_form').attr("data-teams-url");
    const winTeamId = $(this).val();
    console.log('url:',url, '\n-- winTeamId:', winTeamId);
    $.ajax({
      type: 'GET',
      url: url,
      data: {'win_team_id': winTeamId},
      success: function(data){  // 'data' return of load_players function view
        console.log('data = ', data);
        $('#id_lose_team').html(data); // replace the contents of the team input w/ data that came from server
      }
    })
  })
  // get player ID 
    $("#id_lose_team").change(function() {
    const url = $('#team_stats_form').attr("action");
    const teamId = $(this).val();
    console.log('-- TeamId:', teamId);
  })
</script>
{% endblock %}