{% extends "main.html"%} <!-- must be first line of file -->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/stats.css' %}">

{% block content %}

<h2>FY3 Statistics</h2>
	<a href=""></a>
	<section class='stats'>
		<h3> {{current_season}} </h3>
		<table>
		<tr class="stats-table">
			<td class="player-img"> </td>
			<td class="player-name">NAME</td>
			<td class="player-data">PTS</td>
			<td class="player-data">AST</td>
			<td class="player-data">REB</td>
			<td class="player-data">STL</td>
			<td class="player-data">BLK</td>
			<td class="player-data">GP</td>
		</tr>
		{% for stat in stats%}
		<tr class="points-table">
			<td>
				<img id="player-img" src="{% static 'imgs/FY3-logo.png' %}">
			</td>
			<td class="player-name">{{stat.id}}</td>
			<td class="player-data">{{stat.avg_pts}}</td>
			<td class="player-data">{{stat.avg_ast}}</td>
			<td class="player-data">{{stat.avg_reb}}</td>
			<td class="player-data">{{stat.avg_stl}}</td>
			<td class="player-data">{{stat.avg_blk}}</td>
			<td class="player-data">{{stat.total_games_played}}</td>
		</tr>
		{%endfor%}
		</table>
	</section>

	
{% endblock %}