{% extends "components/main.html"%} <!-- must be first line of file -->

{% load static %}

<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/FY3/stats.css' %}"> -->

{% block content %}
	<section class='stats'>
		<h1 class="title glass"> {{current_season}} Player Stats</h1>
		
		<table class="stats-table">
		
		<thead class='glass'>
		<tr class="stats-row glass">
			
			<th class="player-img"> </th>
			
			<th class="player-name">NAME</th>
			
			<th class="player-pts">PTS</th>
			
			<th class="player-ast">AST</th>
			
			<th class="player-reb">REB</th>
			
			<th class="player-stl">STL</th>
			
			<th class="player-blk">BLK</th>
			
			<th class="player-gp">GP</th>
		</tr>
		</thead>

		<tbody>
		{% for stat in stats%}
		<tr class="stats-row glass">
			
			<td class="player-img"><img id="player-img" src="{% static 'imgs/FY3-logo.png' %}"></td>
			
			<td data-title="name" class="player-name">{{stat.id}}</td>
			
			<td data-title="pts" class="player-data">{{stat.avg_pts}}</td>
			
			<td data-title="ast" class="player-pts">{{stat.avg_ast}}</td>
			
			<td data-title="reb" class="player-reb">{{stat.avg_reb}}</td>
			
			<td data-title="stl" class="player-stl">{{stat.avg_stl}}</td>
			
			<td data-title="blk" class="player-blk">{{stat.avg_blk}}</td>
			
			<td data-title="gp" class="player-gp">{{stat.total_games_played}}</td>

		</tr>
		{%endfor%}
		</tbody>
		</table>
	</section>

	
{% endblock %}