{% extends "components/main.html"%}
{% load static %}

<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/standings.css' %}"> -->


{% block content %}
<h2>FY3 Standings</h2>
	<div class="divisions-container"> <!--stats container?-->
	<section class="standings-table">
		<h3> EAST DIVISION Section </h3>
		<table class='conference-table'>
		<tr class="team-row glass" id="headings">
			<!-- <td class="team-r-itm" id="team-id"> Team Num </td> -->
			<td class="team-r-itm" id="team-img">Team Img</td>
			<td class="team-r-itm" id="team-name">Team Name</td>
			<td class="team-r-itm" id="team-w">Wins</td>
			<td class="team-r-itm" id="team-l">Losses</td>
			<td class="team-r-itm" id="team-ptsdiff">Game Diff</td>
		</tr>
		{% for e_team in east_teams %}
		<tr class="team-row glass">
			<!-- <td class="team-r-itm" id="team-{{team.id}}"></td> -->
			<td class="team-r-itm"><img id="team-img" src="{% static 'imgs/FY3-logo.png' %}"></td>
			<td class="team-r-itm" id="team-name">{{e_team.team_name}}</td>
			<td class="team-r-itm" id="team-w">{{e_team.get_team_wins}}</td>
			<td class="team-r-itm" id="team-l">{{e_team.get_team_losses}}</td>
			<td class="team-r-itm" id="team-netrec">{{e_team.get_team_game_diff}}</td>
		</tr>
		{% endfor %}
		</table>
	</section>

	<section class="standings-table">
		<h3> WEST DIVISION Section </h3>
		<table>
		<tr class="team-row glass" id="headings">
			<!-- <td class="team-r-itm" id="team-id"> Team Num </td> -->
			<td class="team-r-itm" id="team-img">Team Img</td>
			<td class="team-r-itm" id="team-name">Team Name</td>
			<td class="team-r-itm" id="team-w">Wins</td>
			<td class="team-r-itm" id="team-l">Losses</td>
			<td class="team-r-itm" id="team-ptsdiff">Game Diff</td>
		</tr>
		{% for w_team in west_teams %}
		<tr class="team-row glass">
			<!-- <td class="team-r-itm" id="team-{{team.id}}}"></td> -->
			<td class="team-r-itm"><img id="team-img" src="{% static 'imgs/FY3-logo.png' %}"></td>
			<td class="team-r-itm" id="team-name">{{w_team.team_name}}</td>
			<td class="team-r-itm" id="team-w">{{w_team.get_team_wins}}</td>
			<td class="team-r-itm" id="team-l">{{w_team.get_team_losses}}</td>
			<td class="team-r-itm" id="team-netrec">{{w_team.get_team_game_diff}}</td>
		</tr>	
		{% endfor %}
	</table>
	</section>
	</div>
{% endblock %}