{% extends "main.html"%}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/standings.css' %}">


{% block content %}
<h2>FY3 Standings</h2>
	<div class="divisions-container">
	<section class="standings-table">
		<h3> EAST DIVISION Section </h3>
		<table>
		<tr class="team-row" id="headings">
			<!-- <td class="team-r-itm" id="team-id"> Team Num </td> -->
			<td class="team-r-itm" id="team-img">Team Img</td>
			<td class="team-r-itm" id="team-name">Team Name</td>
			<td class="team-r-itm" id="team-w">Wins</td>
			<td class="team-r-itm" id="team-l">Losses</td>
			<td class="team-r-itm" id="team-ptsdiff">Pt Diff</td>
		</tr>
		{% for team in east_teams %}
		<tr class="team-row">
			<!-- <td class="team-r-itm" id="team-{{team.id}}"></td> -->
			<td class="team-r-itm" id="team-img"></td>
			<td class="team-r-itm" id="team-name">{{team.team_id.team_name}}</td>
			<td class="team-r-itm" id="team-w">{{team.wins}}</td>
			<td class="team-r-itm" id="team-l">{{team.losses}}</td>
			<td class="team-r-itm" id="team-ptsdiff"></td>
		</tr>
		{% endfor %}
		</table>
	</section>

	<section class="standings-table">
		<h3> WEST DIVISION Section </h3>
		<table>
		<tr class="team-row" id="headings">
			<!-- <td class="team-r-itm" id="team-id"> Team Num </td> -->
			<td class="team-r-itm" id="team-img">Team Img</td>
			<td class="team-r-itm" id="team-name">Team Name</td>
			<td class="team-r-itm" id="team-w">Wins</td>
			<td class="team-r-itm" id="team-l">Losses</td>
			<td class="team-r-itm" id="team-ptsdiff">Pt Diff</td>
		</tr>
		{% for team in west_teams %}
		<tr class="team-row">
			<!-- <td class="team-r-itm" id="team-{{team.id}}}"></td> -->
			<td class="team-r-itm" id="team-img"></td>
			<td class="team-r-itm" id="team-name">{{team.team_id.team_name}}</td>
			<td class="team-r-itm" id="team-w">{{team.wins}}</td>
			<td class="team-r-itm" id="team-l">{{team.losses}}</td>
			<td class="team-r-itm" id="team-ptsdiff"></td>
		</tr>	
		{% endfor %}
	</table>
	</section>
	</div>
{% endblock %}